<div class="dropdown-menu rangedatepicker">
  <div class="clearfix">
    <div class="range">
      <p class="range-title">Range</p>
      <div ng-repeat="item in rangeList">
        <button class="btn btn-sm btn-block" ng-class="{'btn-ghost': ctrl.rangeType == item.value && !ctrl.compare, 'btn-default': ctrl.rangeType != item.value || ctrl.compare, 'disabled': ctrl.compare}" ng-click="$selectRange(item.value)" ng-bind="item.name"></button>
      </div>
    </div>
    <div class="range-date">
      <p class="range-title">Start Date</p>
      <div class="datepicker" ng-class="'rangedatepicker-mode-' + $mode">
        <table>
          <thead>
            <tr class="text-center">
              <th><button tabindex="-1" type="button" class="btn btn-sm btn-default pull-left arrow" ng-click="$selectPane(-1, 0)"><i class="{{$iconLeft}}"></i></button></th>
              <th colspan="{{ rows[0][0].length - 2 }}">
                <div class="text-center">
                  <strong style="text-transform: capitalize" ng-bind="title[0]"></strong>
                </div>
              </th>
              <th><button tabindex="-1" type="button" class="btn btn-sm btn-default pull-right arrow" ng-click="$selectPane(+1, 0)"><i class="{{$iconRight}}"></i></button></th>
            </tr>
            <tr ng-if="showLabels" ng-bind-html="labels"></tr>
          </thead>
          <tbody>
            <tr ng-repeat="(i, row) in rows[0]" height="{{ 100 / rows[0].length }}%">
              <td class="text-center" ng-repeat="(j, el) in row">
                <button tabindex="-1" type="button" class="btn btn-sm btn-default" ng-class="{'btn-primary': el.selected, 'btn-info btn-today': el.isToday && !el.selected, 'invisible': el.muted, 'btn-success': el.compareSelect, 'btn-both': el.selected && el.compareSelect, 'btn-range': el.inRange && !el.selected}" ng-click="$select(el.date, 0)" ng-disabled="el.disabled">
                  <span ng-class="{'text-muted': el.muted}" ng-bind="el.label"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="range-date">
      <p class="range-title">End Date</p>
      <div class="datepicker" ng-class="'rangedatepicker-mode-' + $mode">
        <table>
          <thead>
            <tr class="text-center">
              <th><button tabindex="-1" type="button" class="btn btn-sm btn-default pull-left arrow" ng-click="$selectPane(-1, 1)"><i class="{{$iconLeft}}"></i></button></th>
              <th colspan="{{ rows[1][0].length - 2 }}">
                <div class="text-center"><strong style="text-transform: capitalize" ng-bind="title[1]"></strong></div>
              </th>
              <th>
                <button tabindex="-1" type="button" class="btn btn-sm btn-default pull-right arrow" ng-click="$selectPane(+1, 1)"><i class="{{$iconRight}}"></i></button>
              </th>
            </tr>
            <tr ng-if="showLabels" ng-bind-html="labels"></tr>
          </thead>
          <tbody>
            <tr ng-repeat="(i, row) in rows[1]" height="{{ 100 / rows[1].length }}%">
              <td class="text-center" ng-repeat="(j, el) in row">
                <button tabindex="-1" type="button" class="btn btn-sm btn-default" ng-class="{'btn-primary': el.selected, 'btn-info btn-today': el.isToday && !el.selected, 'invisible': el.muted, 'btn-success': el.compareSelect, 'btn-both': el.selected && el.compareSelect, 'btn-range': el.inRange && !el.selected}" ng-click="$select(el.date, 1)" ng-disabled="el.disabled">
                  <span ng-class="{'text-muted': el.muted}" ng-bind="el.label"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="form-horizontal mt-2x mb-2x">
    <div class="row form-group-sm">
      <div class="col-xs-6">
        <label class="checkbox-inline" ng-class="{'hide': !$compare}">
          <input type="checkbox" ng-model="ctrl.compare" ng-true-value="'compare'" ng-false-value="''" ng-change="$toggleCompare()">compare
        </label>
      </div>
      <div class="col-xs-6 text-right">
        <button class="btn btn-default btn-primary btn-sm" ng-click="$closePicker()">close</button>
      </div>
    </div>
  </div>
</div>